$skin: #cccccc;

$theme-colors: (
    'skin': $skin,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 10,
);

$sizes: (
    '5': 5px,
    '12': 12px,
    '14': 14px,
    '18': 18px,
    '20': 20px,
    '25': 25px,
    '28': 28px,
    '30': 30px,
    '38': 38px,
    '40': 40px,
    '48': 48px,
    '50': 50px,
    '80': 80px,
    '125': 125px,
    '25p' : 25%,
    '50p' : 50%,
    '75p' : 75%,
    '100p' : 100%,
);

$font-sizes: (
    '8': 8px,
    '10': 10px,
    '11': 11px,
    '12': 12px,
    '13': 13px,
    '14': 14px,
    '16': 16px,
    '18': 18px,
    '20': 20px,
    '21': 21px,
    '22': 22px,
    '24': 24px,
    '28': 28px,
    '32': 32px,
    '36': 36px,
    '48': 48px,
    '60': 60px,
    '72': 72px,
    '84': 84px,
    '96': 96px,
    '108': 108px,
);

$round-radius: (
    '2': 2px,
    '8': 8px,
    '12': 12px,
    '15': 15px,
    '20': 20px,
);